.o_survey_main_kn h1{
    color: #ffffff;
    text-align: center;
}

.o_survey_main_kn .js_question-wrapper h4 span{
    color: #ffffff;
}

.o_survey_main_kn .js_question-wrapper span{
    color: #ffffff;
}
