@font-face {
    font-family: 'Times New Roman';
    src: local('Times New Roman'), local('Times New Roman'), url(/shealth_all_in_one/static/src/font/font-times-new-roman.ttf) format('opentype');
}
@font-face {
    font-family: 'Times New Roman - Bold';
    src: local('Times New Roman - Bold'), local('Times New Roman - Bold'), url(/shealth_all_in_one/static/src/font/times-bold.ttf) format('opentype');
}
.table.table-no-border th, .table.table-no-border td{border:none!important;}
.mr-2{padding-right:20px!important;}
.mr-4{padding-right:40px!important;}
