$o-community-color: #026aa7;
$o-brand-odoo:      #026aa7;
$o-brand-primary:   #026aa7;
$o-navbar-height:   55px;

$primary:       #026aa7 !default;
$secondary:     #efefef !default;
$success:       #469408 !default;
$info:          #666666 !default;
$warning:       orange !default;
$danger:        #d91f1f !default;
